.color-red{
    color: #b76075;
}
.color-white{
    color: #cccccc;
}
.color-aquagreen{
    color: rgb(106, 182, 180);
}
.color-aquagreen2{
    color: rgb(71, 126, 124);
}
.color-aquagreen-light{
    color: rgb(111, 236, 232);
}