*, *:before, *:after {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

/* Small screens (default) */
html { font-size: 100% !important;  }

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html {  font-size: 100% !important; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 100% !important; }
}


.container {
    margin: 0 auto;
    max-width: 78rem;
    width: 90%;
  }
  
@media (min-width: 40rem) {
    .column {
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }  
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media (min-width: 40rem) {
    .column.flow-opposite { float: right; }
  }